<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NeuralNetworkServer.Scripts.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeuralNetworkServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NeuralNetworkServer.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeuralNetworkServer.Scripts.Settings>
            <setting name="Layers" serializeAs="String">
                <value>155,2000,2000,2000,11</value>
            </setting>
            <setting name="MutationStrength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WeightDecay" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="DropoutPercentage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReplayMemorySize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StartReplayPriority" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxErrors" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DiscountFactor" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="BellmanLearningRate" serializeAs="String">
                <value>0.01</value>
            </setting>
        </NeuralNetworkServer.Scripts.Settings>
        <NeuralNetworkServer.Settings>
            <setting name="Layers" serializeAs="String">
                <value>155,2000,2000,2000,11</value>
            </setting>
            <setting name="MutationStrength" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WeightDecay" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="DropoutPercentage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReplayMemorySize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BatchSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="StartReplayPriority" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxErrors" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LearningRate" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DiscountFactor" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="BellmanLearningRate" serializeAs="String">
                <value>0.01</value>
            </setting>
        </NeuralNetworkServer.Settings>
        <NeuralNetworkServer.Settings1>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </NeuralNetworkServer.Settings1>
    </userSettings>
</configuration>